recursive-include mogui *py *svg *theme
include ChangeLog
include COPYING.GPLv2
include COPYING-ICONS.CCBYSA3
include README.md
include TODO.md
exclude .*
exclude Makefile
exclude doc/sneak_peek.gif
prune script
